---
---
  /**
   * Syntax highlighting styles
   */

.main_container {
  margin-top: 60px;
}
pre.highlight {
  background-color: #f8f9fa;
  padding: 1.5rem;
}
@import 'custom/github.scss';
@import 'bootstrap/bootstrap';

