<% provide(:title, 'Home') %>
<% provide(:banner, 'Spudmux')%>

<h2>How to print to the console in Objective-C</h2>
<p>In Objective-c NSLog() is used to print messages to the console:</p>
<code>
NSLog(@"Hello World");
</code>
<p>will output:</p>
<pre>
Hello World
</pre>
