<footer class="footer mt-auto ">
  <div class="container border-top pt-3">

    <div class="row h-100">
      <div class="col">
        <h3>{{ site.title }}</h3>
        <p class="text">{{ site.description }}</p>
      </div>
      <div class="col text-center pt-3">
        <ul class="list-inline">
          {% if site.github_username %}
          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <i class="fab fa-twitter"></i>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col mt-auto">
        <p class="text-muted text-right">
          version {{ site.github.build_revision | slice: 0, 7 }}
        </p>
      </div>
    </div>
  </div>
</footer>
