<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style>
      <ul class="navbar-nav mr-auto">
        {% for pg in site.pages %}
        {% if pg.title %}
        <li class="nav-item{% if page.title == pg.title %} active{% endif %}">
          <a class="nav-link" href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }} {% if page.title == pg.title %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
