<div class="list-group mt-5">
  <h5>Archive</h5>
  {% for post in site.posts %}
    <a  href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="list-group-item list-group-item-action{% if page.title == post.title %} list-group-item-light{%endif%}">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1 pr-1">{{ post.title }}</h6>
        <small class="float-right text-right">{{ post.date | date: "%b %-d %Y" }}</small>
      </div>
      <p>{{post.excerpt}}</p>
    </a>
  {% endfor %}
</div>